<div class="tp-data">
  <table class="tp-data">
    <colgroup>
      <col class="tp-check">
      <col class="col-xs-6 col-sm-4 col-xl-3">
      <col class="tp-text">
    </colgroup>
    <tbody>
    <tr ng-repeat="org in organizations">
      <td class="tp-check">
        <div class="tp-check"></div>
      </td>
      <td class="tp-sender">{{org.name}}</td>
      <td>
        <span>{{org.owner.name}}</span>
      </td>
      <td>
        <span ng-if="org.owner._id == operator._id" class="label label-danger">Владелец</span>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="clearfix"></div>
</div>
