<div class="tp-data">
  <table class="tp-data">
    <colgroup>
      <col class="tp-check">
      <col class="tp-sender">
      <col class="tp-text">
      <col class="tp-fulldate">
    </colgroup>
    <tbody>
      <tr ng-repeat="state in states" ng-click="show(state._id)">
        <td class="tp-check"></td>
        <td class="tp-sender">{{device.name}}</td>
        <td class="tp-text">{{state.toString()}}</td>
        <td class="tp-fulldate">{{state.stamp | date:"HH:mm:ss dd.MM.yyyy"}}</td>
      </tr>
    </tbody>
  </table>
  <div class="clearfix"></div>
</div>

