<div class="row tp-user">
  <h3 class="profile-header" ng-if='operator._id == user._id'>Основные</h3>
  <div class="col-lg-6">
    <form name="userForm" accept-charset="UTF-8" class="form-horizontal">
      <div class="form-group">
        <label class="tp-photo control-label col-sm-3"><span class="glyphicon glyphicon-user"></span></label>
        <label for="name" class="control-label hidden">Полное имя</label>
        <div class="col-sm-9">
          <input id="name" name="name" type="text" ng-model="user.name" placeholder="Полное имя" class="form-control input-lg">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="control-label col-sm-3">Эл.почта</label>
        <div class="col-sm-9">
          <input id="email" name="email" type="text" ng-model="user.email" placeholder="Эл.почта" class="form-control input-sm">
        </div>
      </div>
      <div class="form-group">
        <label for="admin" class="control-label col-sm-3">Администратор</label>
        <div class="col-sm-9">
          <input id="admin" name="admin" type="checkbox" ng-model="user.admin" ng-disabled="operator._id == user._id" class="form-control input-sm">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="control-label col-sm-3">Пароль</label>
        <div class="col-sm-9">
          <input id="password" name="password" type="password" ng-model="user.password" placeholder="Пароль" class="form-control input-sm">
        </div>
      </div>
      <div class="form-group">
        <label for="confirmation" class="control-label col-sm-3">Подтверждение</label>
        <div class="col-sm-9">
          <input id="confirmation" name="confirmation" type="password" ng-model="user.confirmation" placeholder="Подтверждение" class="form-control input-sm">
        </div>
      </div>
      <button name="submit" class="btn btn-sm btn-primary" ng-disabled="userForm.$pristine" ng-click="save()">{{(user._id) ? 'Изменить' : 'Создать'}}</button>
    </form>
  </div>
</div>
<div class="row" ng-if='operator._id == user._id' ng-controller='OrganizationsCtrl'>
  <h3 class="profile-header">Организации</h3>
  <div class="col-lg-9">
    <button class="btn btn-sm btn-danger orgs-create-btn" ng-click="createOrganization()">Создать организацию</button>
  </div>
  <div class="col-lg-3">
    <div class="pull-right">
      <div class="page orgs-pager">
        <b>{{orgPager.first}}</b>-<b>{{orgPager.last}}</b>&nbsp;из&nbsp;<b>{{orgPager.count}}</b>
        <ul class='pagination'>
          <li><a ng-href="{{orgPager.prev}}">&lt;</a></li>
          <li><a ng-href="{{orgPager.next}}">&gt;</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <table class="tp-data">
      <colgroup>
        <col class="tp-check">
        <col class="col-xs-6 col-sm-4 col-xl-3">
        <col class="col-xs-4 col-sm-3 col-xl-2">
        <col class="tp-text">
      </colgroup>
      <tbody>
        <tr ng-repeat="organization in organizations">
          <td class="tp-check">
            <div class="tp-check"></div>
          </td>
          <td class="tp-sender">
            {{organization.name}}
          </td>
          <td>
            <span>{{organization.owner.name}}</span>
          </td>
          <td>
            <span ng-if="organization.owner._id == user._id" class="label label-danger">Администратор</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="clearfix"></div>
  </div>
</div>
